body {
    margin: auto;
    padding: 0;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    background-color: rgba(255, 240, 220, 0.25);
    max-width: 1920px;
}

.inline {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    margin:auto;
    align-items: center;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
}

.ui-selectmenu-text {
    color: #db2320;
}

.ui-selectmenu-icon {
    visibility: hidden;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    color: #db2320;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #0026d4;
}

#priceBox {
    width: 100%;
}
.right-panel, 
.left-panel {
    width: 5%;
    height: 50vh;
    max-height: 1920px;
    display: flex;
    justify-content: center;
    
}

.right-panel {
    background: #0026d4;
    border-radius: 50% 0 0 75%;
}

.left-panel {
    background: #db2320;
    border-radius: 0 50% 75% 0;
}

.header-wrapper {
    background-color: rgba(255, 240, 220, 0.25);
}

.ad-img {
    width: 80%
}

.header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    padding: 15px 0;
    background-color: rgba(255, 240, 220, 0.75);
    border-style: none;
    border-radius: 5px 5px 0 0;
}

#heading {
    width: auto;
    text-align: center;
    margin-right: 15px;
}

#header-img {
    width: 250px;
    margin-left: 15px;
}

.main-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: #fcfdff;
}

#hero {
    font-size: 52px;
    text-align: left;
}

.title {
    font-weight: 800;
}

.hero-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-image: url("/Images/PDM_OPEN.png");
    background-position: bottom center;
    padding: 15px 0;
    padding-right: 0;
    height: 600px;
    border-style: none;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    width: 100%;
}

#hero-text {
    width: 50%;
    color: azure;
    height: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.61);
    padding: 15px;
}

.ui-slider .ui-slider-range {
    background: repeating-linear-gradient(
		to bottom,
        #0026d4 0px,
        #fcfdff 10px,
        #db2320 15px,
        #db2320 20px
	  );
}

.ui-button:hover, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-focus {
    background: #bdc1d4;
    border-color: #0026d4;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    background: #bdc1d4;
    border-color: #0026d4;
}

#Search {
    width: 125px;
    height: 75px;
    background-color: #548CFF;
    border-style: none;
    color: #ffff;
    border-radius: 15px;
    font-size: 25px;
}
#Search:hover {
    cursor: pointer;
}

#Placeholder {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin: auto;
    height: 75%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}

ul {
    padding: 0;
    width: 100%;
}

.card {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.pricing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}

.price-list {
    list-style: none;
    list-style-type: none;
}
.price-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}