body {
    margin: auto;
    padding: 0;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    background-color: rgba(255, 240, 220, 0.25);
    max-width: 1920px;
}

.inline {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
    margin:auto;
    align-items: center;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
}

.ui-selectmenu-text {
    color: #db2320;
}

.ui-selectmenu-icon {
    visibility: hidden;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    color: #db2320;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #0026d4;
}


/* .right-panel, 
.left-panel {
    width: 5%;
    height: 55vh;
    max-height: 1920px;
    display: flex;
    justify-content: center;
    
}

.right-panel {
    background: #0026d4;
    border-radius: 50% 0 0 75%;
}

.left-panel {
    background: #db2320;
    border-radius: 0 50% 75% 0;
} */

.header-wrapper {
    background-color: rgba(255, 240, 220, 0.25);
}

.ad-img {
    width: 80%
}

.header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:auto;
    padding: 15px 0;
    background-color: rgba(255, 240, 220, 0.75);
    border-style: none;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

#heading {
    width: auto;
    text-align: center;
    margin-right: 15px;
}

#header-img {
    width: 250px;
    margin-left: 15px;
}

.main-panel {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: #fcfdff;
    height: 55vh;
}
#categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0;
}

#hero {
    font-size: 52px;
    text-align: left;
}

.title {
    font-weight: 800;
    margin: 10px 0;
    font-size: 36px;
}

/* Obsolete Code
.ui-slider .ui-slider-range {
    background: repeating-linear-gradient(
		to bottom,
        #0026d4 0px,
        #fcfdff 10px,
        #db2320 15px,
        #db2320 20px
	  );
}

.ui-button:hover, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-focus {
    background: #bdc1d4;
    border-color: #0026d4;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    background: #bdc1d4;
    border-color: #0026d4;
} */

#Search {
    width: 125px;
    height: 75px;
    background-color: #548CFF;
    border-style: none;
    color: #ffff;
    border-radius: 15px;
    font-size: 25px;
}
#Search:hover {
    cursor: pointer;
}

#Placeholder {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin: auto;
    height: 75%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 80%;
}

ul {
    padding: 0;
    width: 100%;
}

.card {
    display: flex; 
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 15px;
    border-style: none;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.158);
    height: 14vh;
}
.pricing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}

.price-list {
    list-style: none;
    list-style-type: none;
}
#finance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.price-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    margin: 10px 0;
}
.speed-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.price-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#price {
    margin: 5px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.priceTitle {
    margin: 0;
    font-size: 18px;
}
.divider {
    width: 50px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.divider p {
    margin: 0;
    font-size: 24px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}
#low,#medium-low,#medium,#max {
    display: flex;
}
.budget-select {
    flex-direction: column;

}
#Type {
    flex-wrap: wrap;
    width: 33%;
}
#speedType {
    display: flex;
    justify-content: center;
}
#budget-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.priceInput {
    width: 50%;
}
input[type='radio'] {
    margin: 5px 0;
}
input[type='checkbox'] {
    margin-left: 3px;
    margin-right: 10px;
}
label {
    margin: 5px 0;
    font-size: 18px;
}
h2 {
    margin: 1px;
}
.info {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}
.carImg {
    width: 100%;
    object-fit: fill;
}
.vehicleImg {
    overflow: hidden;
    height: 100%; 
    width: 30%;
}
.speed-container,
.Occupacy-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 25px;
    margin: 10px 0;
}
h3 {
    margin: 0;
}
h1.carName {
    margin: 0 20px;
    font-size: 24px;
    width: 10%;
}
.OccuDiv,
.speedLevelContainer {
    padding: 15px;
    padding-top: 0;
}
h2.title {
    margin: 0;
    font-size: 20px;
}
.left-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.paymentOptionDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.minMax {
    display: flex;
    flex-direction: column;
    opacity: 0.5;
}
